{% extends 'base.html' %}
{% block title %}Home{% endblock title%}


    {% block content %}
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        {% include 'inc/admin_sidenav.html' %}

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          {% include 'inc/navbar.html' %}

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y pt-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style2 mt-3 mb-4">
                    <li class="breadcrumb-item">
                        <a href="#">ESA</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Communities</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">{{ community_name }}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Quiz</a>
                    </li>
                </ol>
            </nav>
              <div class="row">
              <h4 class="mt-3">Manage Instructors</h4>
                <div class="col-12 mb-4 order-0">
                  <div class="card p-4">
                      <div class="table-responsive text-nowrap">
                  <table class="table" id="dataTable">
                    <thead>
                      <tr>
                        <th>Index #</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th>Community</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for instructor in instructors %}
                      <tr>
                        <td><strong>{{ instructor.username }}</strong></td>
                        <td>{{ instructor.first_name }}</td>
                        <td>{{ instructor.last_name }}</td>
                        <td>{{ instructor.phone_number }}</td>
                        <td>{{ instructor.role }}</td>
                        <td>
                        {% if communities %}
                            {% for community in communities %}
                                {% if community.instructor == instructor or community.co_instructor == instructor %}
                                    {{ community.name }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                  </div>
                </div>
            </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
                {% include 'inc/footer.html' %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    </div>
   {% endblock content %}


    {% block scripts %}
    {% endblock scripts %}
