{% extends 'base.html' %}
{% block title %}Home{% endblock title%}


    {% block content %}
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        {% include 'inc/sideNav.html' %}

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          {% include 'inc/navbar.html' %}

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y pt-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style2 mt-3 mb-4">
                    <li class="breadcrumb-item">
                        <a href="#">ESA</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Communities</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">{{ community_name }}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Assignment</a>
                    </li>
                </ol>
            </nav>
              <div class="row">
              <h4 class="mt-3">Submission Detail - {{ assignment.assignment_title }} Assignment</h4>
                <div class="col-12 mb-4 order-0">
                  <div class="card">
                    <div class="d-flex align-items-end row">
                      <div class="col-sm-10">
                        <div class="card-body">
                            <p class="mb-1">
                            <span class="fw-bold">Date Submitted</span>: {{ submission.submission_date }}
                          </p>

                            <p class="mb-1">
                            <span class="fw-bold">Remarks</span>: <pre>{{ submission.remarks }}</pre>
                          </p>
                            <p class="mb-1">
                            <span class="fw-bold">Student Note</span>: <pre>{{ submission.student_note }}</pre>
                            </p>

                            {% if submission.file_submission %}
                                Submitted File: <a class="btn btn-outline-primary" download="" href="{{ submission.file_submission }}"><i class="fa fa-download"></i> Download File</a>
                            {% elif submission.url_submission %}
                                Submitted URL: <input disabled type="text" value="{{ submission.url_submission }}">
                            {% else %}
                                <span class="fw-bold">Submitted Text:</span> <pre>{{ submission.text_submission }}</pre>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
                {% include 'inc/footer.html' %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    </div>
   {% endblock content %}


    {% block scripts %}
    {% endblock scripts %}
